$fontSize: 12px;
$bgColor: red;

body {
  padding: 0;
  margin: 0;
}

@mixin block($fontSize) {
  font-size: $fontSize;
  border: 1px solid #ccc;
  border-radius: 34px;
}

.wapper {
  // lighten表示颜色变浅 配合第二个参数表示颜色变浅40%
  background: lighten($bgColor, 40%);
  .nav{
    @include block($fontSize);
  }
  .content{
    // 数值类型可以直接+-
    @include block($fontSize + 2px);
    &:hover{
      background: $bgColor;
    }
  }
}